*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.preloader-container{
  width: 100vw;
  height: 100vh;
  /* z-index: 99; */
  background-color:black;
  position: relative;
  /* visibility: hidden; 
  */
}
.preloader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  background-color: rgba(228, 226, 222, 0.192);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid rgba(128, 128, 128, 0.315);
}
.preloader::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 158px;
  height: 158px;
  border-radius: 50%;
  border: 4px dotted white;
  background-color:transparent;
  animation: preloaderAni 1s ease  infinite;
}
.preloader .logo-house{
  letter-spacing: 10px;
}
.logo-house .p{
  color: teal;
 }
 body .container{
   padding:2rem 0;
  /* visibility: hidden; */
  display: none;
  
  transition: all 1s ease;
 }
h1{
  color:teal;
  font-weight:400;
  text-align:center;
  
}
p{
  text-align:center;
  padding:1rem 0;
}
 /*preloader media query */
 @media(max-width:600px){
   .preloader{
     width: 120px;
     height: 120px;
   }
   .preloader::before{
     width: 128px;
     height: 128px;
     border: 2px dotted white;
   }
 }

 /* ALL MEDIA QUERIES */ 
/* Large screens */
@media(min-width:1366px){
  body #main-container{
    width: 1366px;
    margin: 0 auto;
  }

}
/* mini laptops */




/* mobile */
  @media (max-width:600px){
    /* home page */
    .home-page{
    height: 100dvh;
    margin: 0px;
    padding: 0px;
    }
   
  }
  
/* ALL ANIMATIONS */
/* preloader animation */
@keyframes preloaderAni{
  0%{
    transform: translate(-50%,-50%) rotate(45deg);
  }
}
