*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.preloader-container{
  width: 100vw;
  height: 100vh;
  /* z-index: 99; */
  background-color:black;
  position: relative;
  /* visibility: hidden; 
  */
}
.preloader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  background-color: rgba(228, 226, 222, 0.192);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid rgba(128, 128, 128, 0.315);
}
.preloader::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 158px;
  height: 158px;
  border-radius: 50%;
  border: 4px dotted white;
  background-color:transparent;
  animation: preloaderAni 1s ease  infinite;
}
.preloader .logo-house{
  letter-spacing: 10px;
}
.logo-house .p{
  color: teal;
 }
 body .container{
  /* visibility: hidden; */
  display: none;
  
  transition: all 1s ease;
 }
 /*preloader media query */
 @media(max-width:600px){
   .preloader{
     width: 120px;
     height: 120px;
   }
   .preloader::before{
     width: 128px;
     height: 128px;
     border: 2px dotted white;
   }
 }
.logo{
  display: flex;
  height: 80px;
}
.hamurger{
  height: 30px;
  width: 30px;
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 2.5%;
  z-index: 5;
  display: none;
}
.logo .empty-box{
  width: 40px;
  height: 40px; 
  margin-top: 1rem;
  background-color: teal;
  position: relative;
  border-top-right-radius: 5px;
  border: 3px solid teal;
  border-left-color: white;
}
.logo-word{
  line-height: 80px;
  position: absolute;
  margin-left: 13px;
  color: teal;
  letter-spacing: 5px;
  font-size: 24px;
  font-weight: 600;
}
.t{
  color: orangered;
}
.e{
  color: rgb(127, 84, 4);
}
.s{
font-size: 40px;
color: white;
}
nav{
  width: 99.9%;
  height: 80px;
  padding: 0% 6rem;
  margin-top: 0;
  background-color: white;
  border: transparent;
  border-bottom: 2px solid #21233caf;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4; 
}
.lists{
  display: flex;
  height: 100%;
  line-height: 80px;
  overflow: hidden;
  transition: all .2s ease;
}
.lists li{
  list-style: none;
}
.lists li a{
  text-decoration: none;
  margin-left: 80px;
  text-transform: uppercase;
  color:grey;
  font-size: 16px;
  line-height: 70px;
  transition: all 1s ease;
}
.lists li a:hover,.lists li a.active{
  font-size: 17px;
  font-size: bolder;
  font-weight: 600;
  color: darkcyan;
}
.home-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 380px;
  margin: 7rem 0;
  overflow: hidden;
  position: relative;
  background-color:gray ;
  margin-bottom: 1rem;
  background: url(./images/rima-bg1.jpg) center/cover no-repeat;
  position: relative;
  animation: homeAniDisplay 20s ease-in-out 2s infinite ;
}
.home-page::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.4);
  /* z-index: 1; */
}
.home-page-words{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  z-index: 2;
  position: relative; 
}
a.home-btn{
  color: white;
  background: transparent;
  padding: 10px 30px;
  border:2px solid teal;
  margin-top:30rem;
  text-transform: capitalize;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s ease;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;  
}
a.home-btn:hover{
  color: white;
  background: teal;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
a.home-btn:active{
  background: #0080805d;
  
}
.home-page-title{
  font-size: 40px;
  font-weight: bolder;
  color: #36454f;
}
.home-page-subtitle{
  margin-top: 20px;
  color: white;
  font-size: 16px;
  text-shadow: 0px 0px 5px black;
}
.train{
  color: teal;
  /* text-shadow: 0px 0px 2px white; */
  -webkit-text-stroke: .5px black;
}
.college{
  color: white;
  text-shadow: 0px 0px 5px black;
}
.success{
  font-size: 73px;
  color: #36454f;
  -webkit-text-stroke: .5px white;
}
hr{
  width: 100%;
}
section{
  width: 100%;
  margin: auto;
  text-align: center;
}
 /* -------- Program section -------- */
.all-sections-heading{
  font-size: 40px;
  position: relative;
  /* width: 232px; */
  width: 300px;
  margin:0px  auto;
  /* background-color: white; */
  padding-bottom:5px ;
  border-radius: 0px 0px 10px 10px;
  /* border: 2px solid rgba(240, 128, 128, 0.336); */
  border-top: none;
}
.all-sections-heading::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 55px;
  width: 60%;
  height: 3px;
  margin-bottom: 5px;
  background: linear-gradient(to right,rgba(0, 128, 128, 0.767) ,rgba(255, 192, 203, 0.626),  pink,rgba(0, 128, 128, 0.767));
}
.all-sections-subhead{
  margin: 10px 5px;
  color: grey;
}
  .programs{
    background-color:#d3d3d375;
    width: 100%;
    margin: 5% auto;
    padding-top: 20px;
  }
  .row{
    width: 70%;
    margin: 0 auto; 
  }
 
.program{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 610px;
  width: 90%;
  border: 10px solid gray;
  border-radius: 50px ;
  border-top-width: 1px;
  border-left-width: 5px;
  border-bottom-width: 8px;
  background-color: white;
  transform: translateX(80px);
  padding: 5px;
}
/* .program.secondary{
  transform: translateX(260px);
} */
.program.kindergarten{
  border: 10px solid lightcoral;
  border-top-width: 1px;
  border-left-width: 5px;
  border-bottom-width: 8px;
}
.program.primary{
  border: 10px solid teal;
  border-top-width: 1px;
  border-right-width: 5px;
  border-bottom-width: 8px;
  transform: translateX(250px);
}
.row .program .img{
  border-radius: 50%;
  border: 4px solid #000000c0;
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}
.row .program img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
}
.program.primary .img{
  border: 4px solid wheat;
}
.program.kindergarten .img{
  border: 4px solid brown;
}
.row .program .content{
  position: relative;
  max-width: 430px;
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  text-align: left;
}
.content h3{
  margin: 10px 0;
}
.program.program.kindergarten h3{
  color: brown;
}
.program.primary h3{
  color: teal;
}
.sign-wrap .sign{
  display: none;
}
.program .content p{
  line-height: 1.7rem;
  text-align: justify;
  font-size: 14px;
  color: gray;
}
.program .sign-wrap p{
  color: #001f3f;
}
/* no buttons made visible yet */
.program .content button{
  position: absolute;
  bottom: 0;
  display: none;
}
.external-exams{
  background-color: white;
  /* padding: 10px; */
}
.exam-wrap{
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
}
.exam-wrap h2{
  max-width: 500px;
  width: 100%;
  padding: 10px 0;
  font-weight: 400;
  margin: 0 auto;
  
}
.external-exams h3{
  margin: 20px 0;
  font-size: 18px;
  font-weight: 200;
  
}
.external-exams h4{
  margin: 20px 0;
  /* font-size: 18px; */
  font-weight: 100;
  color: teal;
  
}
.exam-wrap p{
  font-size: 14px;
  color: gray;
  margin: 10px 0;
  line-height: 2rem;
}
/* .external-exams ul {
  border: 2px solid;
} */
.external-exams li{
  border-top: 1px solid;
  margin: 10px;
  /* border-bottom: 2px solid; */
}
.external-exams select{
  width: 150px;
  padding:  5px 10px;
  cursor: pointer;
}
.external-exams button{
  padding:  5px 10px;
  background-color: white;
  border: 1px solid #008fff;
  color: #001f3f;
  border-radius: 3px;
  cursor: pointer;
}
.external-exams button:hover{
  padding:  5px 10px;
  background-color: #008fff;
  color:  white;
  transition:  all ease 1s;
}
.external-exams p span{
  color: black;
}
.external-exams p span.principal{
  color: teal;
}

 /*************** ABOUT SECTION**********/
.sch-name{
  font-weight:800;
  color: #008fff;
}
.about-section{
  margin-bottom: 6rem;
  background-color: #6a6d781a;
  width: 100%;
}
.about-container{
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin:0 auto;
}
.about-container header,.our-mission-footer{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1rem 0; 
  background-color: #34495e;
}
.about-section main{
  width: 100%;
  text-align: center;
  margin:0 auto;
  padding-top: 9rem; 
}
.about-section .about-main-text {
  color: white;
  width: 50%;
  margin:0 auto;
  text-align: justify;
  background: #34495e;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 18px 0px #0000002c;
  line-height: 2rem;
}
.our-mission,.official-heading{
  color: grey;
  font-size: 1.5rem;
  padding-top: 20px;
  margin-bottom:10px ;
}
.our-mission-sub,.our-mission-footer{
  font-weight: bold;
  font-size: 18px;
  opacity: .7;
}
.our-mission-footer{
  background-color:#34495e; 
  color: white;
  opacity: 1;  
  /* margin: 3rem 0;  */
  padding: 1rem;
  line-height: 2rem;
}

  .officials-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top:10px ;
  margin: 0px 0px 10px;
  justify-content: center;
  text-align: center;
  }
  .list{
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px ;
  background-color: white;
  border-radius: 25px;
  }
.list .img{
  width: 100%;
  height: 170px;
  background-color: #34495e;
  display: flex;
  justify-content: center;
  border-radius: 25px 25px 0px;
  position: relative; 
}
.list .img:before, .list .img::after{
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #34495e;
  right: 0;
  bottom: -40px;
  border: none;
}
.list .img:after{
  border-radius: 0px 25px 0px 0px;
  background-color: white;
}
/* for the 1st and last one */
.list .img-opp-style{
  background-color: #4981b9;
}
.list .img-opp-style:before, .list .img-opp-style::after{
  background-color: #426486;
}
.list .img-opp-style:after{
  border-radius: 0px 25px 0px 0px;
  background-color: white;
}
.list .img p{
  margin-top: 10px;
  width: 148px;
  height: 148px;
  border-radius: 50%;
  border: 4px solid white;
}
.list img.real-img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #34495e;
}
.list .img-content,.list .img-icons{
  padding: 20px 0;
}
.list .img-icons{
  width: 100%;
}
.list .img-icons img,.contact-us-with img, .external-exams .img-icons img{
  width: 40px;
  height: 40px;
}
.list .img-icons span:nth-child(2) img{
  width: 40px;
  height: 40px;
  border: 3px solid lightgray;
  border-radius: 50%;
}
 .img-icons span a{
  cursor: pointer;
  margin: 0 10px;
  text-decoration: none;
} 
.img-content h2{
  font-size: 1.56rem;
  font-weight: 500;
}
.img-content span{
  font-size: 1.31rem;
  color: #6a6d78; 
}
   /****** CONTACT-US-SECTION *********/
.contact-us-section{
  border-top: 4px solid;
  border-bottom: 4px solid;
  margin: 0 auto;
  background-color: #3498db;
  padding: 20px 0px 10%;
  position: relative;
}
.contact-circle{
  margin-top: .2%;
  background-color: transparent;
  height: 250px;
  width: 250px;
  border: 30px solid rgba(255, 255, 255, 0.089);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 70px;
}
.contact-content{
  margin:0 auto;
  position: relative;
  width: 60%;  
  border-radius: 10px;
  background-color: white;
  display: flex;
  text-align: start;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.329);
  padding: 1rem;
}
.contact-content li{
  list-style: none;
  display: flex;
  align-items: center;
}
.contact-content li img{
 width: 30px;
 height: 30px;
 margin-right: 10px;
}
.contact-main-content{
  width: 100%;
  height: 100%;
  display: flex;
}
.contact-item{
  width: 50%;
  padding: 1rem;
}
.contact-form{
  width: 50%;
  padding: 1rem;
  background-color: #3498dbe7;
  border-radius: 25px 0px 0px 0px;

}
.contact-form form input{
  display: block;
  width: 100%;
  height: 40px;
  padding: 1.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.171);
  outline: none;
  border: 2px solid white;
  font-size: 16px;
}
.contact-form form textarea{
  padding: 1.5rem 1rem;

}
.contact-form form input:last-of-type{
  background-color: #3498db;
  color: white;
  padding: 0;
  font-size: 18px;
  cursor: pointer;
  height: 50px;
  margin-top: 5px;
  border-radius: 10px;
  transition: all .3s ease;
  letter-spacing: .1rem;
}

.contact-form form input:last-of-type:hover{
  background-color:rgba(255, 255, 255, 0.171) ;

}
.contact-form form input:last-of-type:active{
  background-color:  #ffffff59;

}
.contact-form form textarea{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.171);
  outline: none;
  border: 2px solid white;
  font-size: 16px;
}
.contact-item>h2{
  color: #3498db;
}
.contact-item>p,li,.contact-us-with p{
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  opacity: .7;
  padding: 10px 0;
}
.contact-item li{
  padding-left: 40px;
  line-height: 1.2;
}
.contact-us-with a{
  cursor: pointer;
  text-decoration: none;
  margin: 0 8px;
}
.contact-form h2{
  padding: 10px 5px;
  font-weight: 600;
}
  /********* facilities sections **********/
.facilities{
  margin: 4rem 0;
  text-align: center;
}
.facilities>h3{
  color: grey;
  margin: 5px 0px 2rem;
}
.facilities .slider-container{
  margin:10px auto;
  position: relative;
  height: 340px;
  max-width: 700px;
  width: 100%;
  z-index: 3;
}
.facilities  button{ 
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
  transform: translateY(-50%);
  display: none;
}
.facilities  button.prev{
  left: -5px;
  cursor: pointer;

}
.facilities button.next{
  right: 10px;
  cursor: pointer;
} 
.facilities .slide{
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-left: 0px;
  opacity: 0;
  transition: all 2s ease;
  /* border: 2px solid red; */
  /* text-align: center; */
}
.facilities .slide img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px ;
}
.slide .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.facilities .slide .content{
  position: absolute;
  left: 5px;
  bottom: 15px;
  width: 70%;
  height: 80px;
  border: .5px solid white;
  background-color: rgba(225,225,225,0.4);
  box-shadow: 0 0 20px rgba(0,0,0,0.9);
}
.slide .content h2{
  padding-left: 5px;
  text-align: start;
}
.slide:nth-child(1) .content h2{
  color: pink;
  -webkit-text-stroke: 1px black;
}
.slide:nth-child(2) .content h2{
  color: #008fff;
  -webkit-text-stroke: 1px black;
}
.slide:nth-child(3) .content h2{
  color:rgba(0, 128, 128, 0.471);
  -webkit-text-stroke: 1px black;
}
.slide .content p{
  font-size: 18px;
  padding-left: 5px;
}
.image-list .slide.show{
/* clip-path: circle(150% at 0% 90%); */
  opacity: 1;
}     
.facilities .indicators{
  width: 100px;
  height: 40px;
  margin: .5rem auto;
  display: inline-flex;
  justify-content: center;
}
.indicators span{
  width: 12px;
  height: 12px;
  border-radius:50% ;
  margin-left: 4px;
  background-color: #09274671;
}
.indicators span.active{
  width: 24px;
  height: 12px;
  border-radius: 4px;
  padding-left: 30px;
  background-color: #001f3f;
  transition: all 2s ease;
}
/* footer */
.footer{
  background: linear-gradient(60deg,#29323c 0%, #485563 100%);
  border-top: 1rem solid #001f3f;
  border-bottom: 1rem solid #001f3f;
  /* border: 2px solid red; */
}
footer ,.footer-1st-house p{
  max-width: 400px;
  width: 100%;
  
  
}
.footer-logo{
  width: 100%;
  text-align: justify;
  /* padding: 0 1% 0 5%; */
  display: flex;
  justify-content: space-between;
}
/* .footer .logo{
  padding: 0px 1%;
} */
.footer-logo>p{
  width: 60%;
  color: white;
  margin-top: 1rem;

}
.footer .footer-list{
  text-align: start;
  padding: 10px 0;
  width: 30%;
  /* border: 2px solid; */
  
}

.footer-list>p,.footer-contact>p{
  font-size: 2rem;
}
.footer .footer-list li{
  list-style: none;
  line-height: .6;
  

}
.footer a{
  text-decoration: none;
  font-size: .8rem;
  color: white;
  color: wheat;
  text-transform: uppercase;
}
.footer-1st-house{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  /* border: 2px solid; */
}
.footer-contact{
  text-align: start;
  padding-right: 7.9%;
  /* border: 2px solid; */
}
.footer-contact li{
  list-style: none;
  font-size: 1.2rem;
  color: rgba(245, 222, 179, 0.795);
}
.footer-contact li img{
  width: 20px;
  height: 20px;
 }
.footer-final{
  width: 100%;
  background-color: #001f3f;
  color: wheat;
  padding: 1rem ; 
}
.footer-final p{
  padding: 1rem ; 
  
}
.footer-final a{
  color: white;
  text-decoration: underline;
}
 /* ALL MEDIA QUERIES */ 
/* Large screens */
@media(min-width:1366px){
  body #main-container{
    width: 1366px;
    margin: 0 auto;
  }
    .landing-page nav{
    width: 1366px;
    /* border: 2px solid ; */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  /* padding: 0% 5rem; */

  }
  /* .footer-1st-house{
  padding: 0% 5rem;

  } */
  /* program section */
  .row{
    width: 70%;
    margin: 0 auto;
  }
/* about section */
  .about-container{
  width: 100%; 
  }
  .about-container header,.our-mission-footer{
    width: 1366px;
    left: 50%;
    transform: translateX(-50%);
  }
  .about-section main{
    width: 100%;
  }
  /* contact us */
  .contact-content{
    width: 50%; 
  }
  .contact-circle{
    left: 150px;
  }
}
/* mini laptops */
  @media(max-width:1300px){
  /* about us page */
  .about-container{
    width: 90%;
  }
  .about-section .about-main-text{
    width: 60%;
    padding: 2rem ;
  }
  /* contact us page */
  .contact-content{
    width: 68%;
  }
  .contact-item{
    width: 44%;
  }
  .contact-form{
    width: 56%;
  }
  .footer-1st-house{
    width: 83%;

  }

  }
  @media(max-width:1130px){
    .row{
      width: 90%;
    }
  }
  @media(max-width:1050px){
    /* contact us page */
    .contact-content{
      width: 80%;
    }
    .footer-1st-house{
      width: 83%;
      
     
    }
  }
  @media(max-width:900px){
    nav{
      padding: 0 3.4rem;
    }
    /* home page */

    .home-page{
      height: 440px;
      padding: 0px;
      }
    /* about us page */
    .about-section .about-main-text{
      width: 100%;
    }
    .list:last-child{
      display: none;
    }
    .row{
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .program{
    transform: translateX(0px);
    }
    .program.primary{
    transform: translateX(0px); 
    }
    .program.secondary{
    transform: translateX(0px); 
    }
    .row .program .img{
      width: 200px;
      height: 150px;
    }
    /* contact us page */
    .contact-content{
      width: 60%;
    }
    .contact-main-content{
      flex-direction: column;
    }
    .contact-form,.contact-item{
      width: 100%;
    }
  } 
  @media(max-width:870px){
    /* nav in home page */
    .lists li a{
      margin-left: 40px;
    }
    /* .footer-1st-house{
      width: 83%;
      
     
    } */
  } 
 /* tablets */
  @media(max-width:769px){
    /* all landing page elements */
    nav{
      height: 80px;
      padding: 0 5%;
  
    }
    .lists{
      display: block;
      background-color: #1f1e1e;
      height: 100vh;
      width: 100vw;
      z-index: 9;
      visibility: hidden;
      position: absolute;
      text-align: center;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .lists li a{
      font-size: 1.2rem;
      letter-spacing: .2rem;
      color: whitesmoke;
      margin-left:5px; 
      transition: all .3s ease;
    }
    .lists li a:hover{
      font-size: 17px;
      font-size: bolder;
      font-weight: 600;
      color: white;
  }
    .lists li{
      margin: 10px;
  }
    .lists li a::after{
      content: attr(data-after);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) scale(0);
      color: rgba(240,248,255,0.021);
      font-size: 15vw;
      z-index: -1;
    }
    .lists li:hover a::after{
      transform: translate(-50%,-50%) scale(1);
    }
    .display-ul{
      visibility: visible;
    }
    .home-page{
      height: 420px;
      margin: 0px;
      padding: 0px;
      }
    .success{
      font-size: 53px;
    }
    .hamurger{
      display: block;
      margin-right: 3%;
      background-color: white;
      position: fixed;
    }
    .hamburger-border{
      border: 2px solid ;
      border-radius: 5px;
      padding: 5px;
      transition: all .2s ease;
    }
    .all-sections-heading{
      font-size: 27px;
    }
    .all-sections-heading::after{
      left: 30%;
      width: 40%;
    }  
    /* about us page */
    .about-section .about-main-text {
      padding: 10px 2rem ;
      border-radius: 10px;
    }
    .officials-list{
      flex-direction: column;
      align-items: center;
      padding: 10px 0px;
      border-radius: 10px;
    }
    .officials-list .list{
      margin:10px auto;
      text-align: center;
    }
    .list:last-child{
      display: block;
    }
    /* contact us page  */
    .contact-form{
      padding: .5rem;
    }
    .contact-circle{
      display: none;
    }
    /* footer */
    .footer-1st-house{
      flex-direction: column;
      width: 90%;

    }
   
  }
/* mobile */
  @media (max-width:600px){
    /* home page */
    .home-page{
    height: 100dvh;
    margin: 0px;
    padding: 0px;
    }
    .home-page-words{
      width: 100%;
    }
    .home-page-subtitle{
      padding: 5px 10px;
    }
    a.home-btn{
      width: 200px;
      border: 2px solid gray;
      color: white;
      background: teal;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
    /* program page */
    .row{
      width: 100%;
    }
    .program{
      flex-direction: column;
      border: none;
      width: 90%;
      border-radius: 0;
      padding: 0;
      margin: 30px auto;
    }
    .program.primary{
      flex-direction: column-reverse;
    }
    .program.primary{
    border: none;
    }
    .program.kindergarten{
    border: none;
    }
    .row .program .img{
      width: 100%;
      height: 100%;
      border-radius: 0;
      border: none;
    }
    .row .program img{
      width: 100%;
      height: 250px;
      border-radius: 0;
      border: none;
      object-fit: cover;
      transition: all .3s ease-in-out;
    }
    .program.primary .img{
      border: none;
    }
    .program.kindergarten .img{
      border:none;
    }
    .content h3{
      margin: 10px 0;
      max-width: 400px;
      width: 80vw;
    }
    .program .sign-wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    .sign-wrap .signs{
      display: block;
    }
    .sign-wrap .sign{
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.5rem;
      font-weight: 900;
      display: block;
      cursor: pointer;
    }
    .sign-wrap .plus{
      display: block;
    }
    .sign-wrap .plus.hide{
      display: none;
    }
    .sign-wrap .plus.show{
      display: block;
    }
    .sign-wrap .minus{
      display: none;
    }
    .sign-wrap .minus.hide{
      display: none;
    }
    .sign-wrap .minus.show{
      display: block;
    }
    .p-text{
      transition: all .3s ease;
      display: none;
    }
    .p-text.show{
      display: block;
    }
    .program.show{
      border: 2px solid gray;
    }
    .exam-wrap h2{
    
      font-weight: 400;
      font-size: 20px;
      
    }
    /* contact us page */
   .contact-content{
      width: 100%;
      padding: 0;
    }
    .contact-form h2{
      margin: 5% 0;
    }
    .contact-form form{
      width: 100%;
    }
    .contact-form{
      width: 100%;
      padding: 1rem;
      background-color: #3498dbe7;
      border-radius: 3px 0px 0px 0px;
    }
    /* facilities */
    .facilities{
      margin: 4rem 0;
    }
    .facilities .slider-container{
      width: 90%;
      margin: 0 auto;
    }
    .facilities .image-list{
      width: 260vw;
    }
    .facilities button{
      display: none;
    }
    .facilities .slider-container{
      /* width: 100%; */
      border: 2px solid;
      
    }
    .facilities .slide{
      width: 100%;
      margin: 0 auto;
      /* margin-left: 0; */
      border: 2px solid black;
    }
    /* footer */
    .footer-logo{
      padding: 0 1% 4% 3%;
      /* border: 2px solid; */
    }
    .footer-logo{
      width: 100%;
   
    }
   
  .footer-contact ,.footer .footer-list{
    /* padding: 10px 2%; */
    padding: 0 1% 0 3.5%;
    
    
  }
  .footer-1st-house{
    width: 96%;
    
   
  }
  .footer .footer-list{

    width: 60%;

    
  }
  #footer-p{
    padding-right: 4%;
  }
  .foot-heading{
    font-size: 1rem;
  }
  }
  @media(max-width:400px){
    /* contact us page */
    .contact-content{
      width: 100%;
      padding: 1px;
      }
      .contact-form {
      width: 100%;
      border-radius: 1px;
      }
      /* about page */
      .officials-list .list{
        width: 100%;
      }
    /* facilities */
    .facilities .slide .content{
      position: absolute;
      left: 5px;
      bottom: 15px;
      width: 95%;
      height: 80px;
    }
  }
  @media(max-width:290px){
    /* contact us page */
    .contact-form form{
      width: 100%;
    }
  }
/* ALL ANIMATIONS */
/* preloader animation */
@keyframes preloaderAni{
  0%{
    transform: translate(-50%,-50%) rotate(45deg);
  }
}
@keyframes homeAniDisplay{
  20%{
  background: url(./images/rima-bg2.jpg) center/cover no-repeat;

  }
  40%{
  background: url(./images/rima-bg3.jpg) center/cover no-repeat;

  }
  80%{
  background: url(./images/rima-bg4.jpg) center/cover no-repeat;

  }
  100%{
  background: url(./images/rima-bg5.jpg) center/cover no-repeat;

  }
}
